<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xftxyz.blogsystem.mapper.FollowMapper">

    <resultMap id="BaseResultMap" type="com.xftxyz.blogsystem.jb.Follow">
            <id property="uidSelf" column="uid_self" jdbcType="INTEGER"/>
            <id property="uidFollow" column="uid_follow" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid_self,uid_follow
    </sql>
</mapper>
